<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                {{ range .Site.Data.search }}
                                <label for="{{ range first 1 .list }}m_{{ .id }}{{ end }}" data-id="{{ .id }}">{{ .item }}</label>
                                {{ end }}
                            </div>
                        </div>
                        {{ range .Site.Data.search }}
                        <div class="search-group {{ .id }}">
                            <span class="type-text text-muted">{{ .item }}</span>
                            <ul class="search-type">
                                {{ range .list }}
                                <li>
                                    <input hidden="" type="radio" name="type2"
                                           id="m_{{ .id }}"
                                           value="{{ .url }}"
                                           data-placeholder="{{ .placeholder }}">
                                    <label for="m_{{ .id }}">
                                        <span class="text-muted">{{ .name }}</span>
                                    </label>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ end }}
                    </div>

                    <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                               autocomplete="off" placeholder="" style="outline:0">
                        <button type="submit">
                            <i class="iconfont icon-search"></i>
                        </button>
                    </form>

                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>
